<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://github.com/zamin0411/book_management/"><em>BookManagement</em></a>, part of the
  <a href="https://zigexn.vn/"><em>ZIGExN</em></a> Internship training program.
</p>
