<% provide(:title, @book.name) %>
<div class = "container d-flex flex-column justify-content-center align-items-center mt-2">
  <h1><%= @book.name %></h1>
  <h4><%= @book.author %></h3>
  <p class = "mt-2"><%= @book.content %></p>
</div>
