<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex me-auto ms-3">Bookie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 d-flex me-xl-5 justify-content-end">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Books", books_path, class: "nav-link" %>
            <li>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo: true, turbo_method: :delete }, class: "nav-link" %>
            </li>
          <% else %>
            <li>
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>